#czmb-m-bg{position:absolute;z-index:1;width:640px;height:960px;left:0px;bottom:0px;}

#czmb-fpage-inner {
	overflow: hidden;
	position:fixed;
	left:50%;
	top:50%;
	margin-left: -320px;
	margin-top: -480px;
	width:640px!important;
	height:960px!important;
	z-index:2147483646!important;
	background-color: #ffffff;
}

#czmb-fpage {
	position:fixed;
	left:0px;
	top:0px;
	width:100%!important;
	height:100%!important;
	z-index:2147483645!important;
	display:none;
	background-color:rgba(0,0,0,0.7);
}

#czmb-close {
	position:fixed;
	right:0px;
	top:0px;
	z-index:2147483647!important;
	width:10%;
	height:10%;
	display:none;
}
