/* BOTTOM */
#czmb-b-bg{position:absolute;z-index:1;width:730px;height:50px;left:0px;bottom:0px;}

/* TOP */
#czmb-t-bg{position:absolute;z-index:1;width:1000px;height:600px;left:0px;bottom:0px;}

#czmb-b {
    overflow: visible;
    position: fixed;
    left: 50%;
    bottom: 0;
    margin-left: -365px;
    width: 730px !important;
    height: 50px !important;
    font-size: 35px;
    color: #fff;
    text-shadow: 2px 2px 10px #004a69;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
    z-index: 2147483645 !important
}

#czmb-t {
    position: fixed;
    margin-left: -500px;
    left: 50%;
    width: 1000px;
    height: 600px;
    cursor: pointer;
    bottom: 0;
    background-color: #fff;
    z-index: 2147483646;
    overflow: hidden;
    background: 0 0
}

#czmb-t-close {
    position: fixed;
    left: 50%;
    margin-left: 475px;
    bottom: -100px;
    z-index: 2147483646 !important;
    width: 50px;
    height: 50px
}

#czmb-expansion-load {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    background-color: #f7c174;
    z-index: 90000;
    width: 0%
}